@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

#navbar {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1rem 2rem;
  padding-left: 5rem;
  background-color: #121212;
}

#navbar h2 a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #ef0000;
  font-size: 2.5cap;
  font-family: 'Kanit', sans-serif;
}

#navbar form {
  display: flex;
  gap: 0.5rem;
  padding-left: 5rem;
}

#navbar input {
  font-size: 2cap;
  padding: 0.2rem 0.8rem;
  border-radius: 4px;
  border: none;
}

#navbar form button {
  background-color: #ef0000;
  border: 2px solid #b20000;
  border-radius: 4px;
  color: #000;
  padding: 0.3rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
