@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #121212;
}

#navbar h2 a {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  color: #ef0000;
  font-size: 3vw; 
  font-family: 'Kanit', sans-serif;
}

@media screen and (max-width: 1020px) {
  #navbar h2 a{
    font-size: 6vw;
  }
  }

#navbar form {
  display: flex;
  gap: 0.5rem;
}

#navbar input {
  font-size: 1.5vw; 
  padding: 0.2rem 0.8rem;
  border-radius: 4px;
  border:#000;
}

#navbar form button {
  background-color: #ef0000;
  border: 2px solid #b20000;
  border-radius: 4px;
  color: #000;
  padding: 0.3rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

